{% extends "piggy/base.html" %}

{% block title %}Piggy Bank - {{piggy}}{% endblock %}

{% block content %}

<p>{{piggy.user}} ha raccolto {{piggy.deposit}} su {{piggy.target}} {{piggy.default_currency.simbol}} che deve raccogliere entro il {{piggy.deadline}} per avere</p>
<h1>{{piggy}}</h1>
<p>Dai un contributo anche tu:</p>
<p>
{% for coin in piggy.default_currency.coin_set.all %}
	<form action="/piggy/{{piggy.id}}/donate" method="post">
		<input type="hidden" value="{{coin.value}}" name="coin_value" />
		<button><img src="/piggy/media/{{coin.icon}}" /></button>
	</form>
{% endfor %}
</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<img src="/piggy/media/{{piggy.image}}" alt="{{piggy.user}}'s piggy bank for {{piggy}}" />

{% endblock %}